.projects-div {
  background: linear-gradient(to bottom, #6b001a, #d10033);
  color: white;
  padding: 20px 120px 10px 130px;
  margin-top: 50px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.projects-head p {
  color: white;
}
.project-card-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
/* Reverse the order using grid-item positions */
.project-card-div.reverse .project-img-div {
  grid-column: 2;
  display: grid;
  justify-items: end;
}
.project-card-div.reverse .project-card-content {
  grid-column: 1;
  grid-row: 1;
}
.project-img-div {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.project-img {
  width: 85%;
  height: 100%;
}
.project-card-content {
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 20px;
  align-self: center;
  justify-content: start;
}
.num-txt {
  font-family: "Julius Sans One", sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
}
.project-name {
  font-family: "Julius Sans One", sans-serif;
  font-size: 40px;
}
.project-describe {
  font-size: 18px;
  font-family: "Ancizar Sans", sans-serif;
  font-weight: thin;
}
.live-btn {
  justify-self: start;
  width: auto;
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  color: #d10033;
  background-color: #fff;
  font-family: "Ancizar Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out, text-shadow 0.25s;
}
.live-btn:hover {
  box-shadow: 0px 0px 10px white;
  text-shadow: 0px 0px 2px #f95e85;
}
.live-img {
  width: 25px;
}
.v-m-btn-div {
  display: flex;
  justify-content: center;
}
.view-more-btn {
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-self: center;
  margin-bottom: 20px;
}

.view-more-btn:hover {
  background-color: white;
  color: #d4145a;
}

/* Mobile- Large */
@media (max-width: 425px) {
  .projects-div {
    padding: 14px 20px;
    margin-top: 30px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .project-card-div {
    height: 85vh;
    row-gap: 18px;
    grid-template-columns: auto;
    margin-bottom: 40px;
    row-gap: 10px;
  }
  .project-card-div .project-img-div {
    order: 2;
  }
  .project-card-div .project-card-content {
    order: 1;
  }
  .projects-content {
    margin-top: 18px;
    padding: 0px 28px;
  }
  /* Reverse the order using grid-item positions */
  .project-card-div.reverse .project-img-div {
    justify-items: center;
  }
  .project-card-div.reverse {
    display: flex;
    flex-direction: column;
  }
  .project-card-content {
    row-gap: 8px;
  }
  .project-img {
    width: 95%;
    height: 100%;
  }
  .num-txt {
    font-size: 2.4rem;
    margin-bottom: 5px;
  }
  .project-name {
    font-size: 1.7rem;
  }
  .project-describe {
    font-size: 13px;
    text-align: justify;
  }
  .live-btn {
    justify-self: start;
    width: auto;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    display: inline-flex;
    align-items: center;
    column-gap: 3px;
    font-size: 11px;
  }
  .live-img {
    width: 11px;
  }
  .view-more-btn {
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 11px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-wrap: nowrap;
  }
}

/* Mobile- Medium  */
@media (max-width: 375px) {
  .projects-div {
    padding: 10px 18px;
    margin-top: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .project-card-div {
    height: 65vh;
    row-gap: 14px;
    grid-template-columns: auto;
    margin-bottom: 40px;
    row-gap: 5px;
  }
  .project-card-div .project-img-div {
    order: 2;
  }
  .project-card-div .project-card-content {
    order: 1;
  }
  .projects-content {
    margin-top: 10px;
    padding: 0px 25px;
  }
  /* Reverse the order using grid-item positions */
  .project-card-div.reverse .project-img-div {
    justify-items: center;
  }
  .project-card-div.reverse {
    display: flex;
    flex-direction: column;
  }
  .project-card-content {
    row-gap: 5px;
  }
  .project-img {
    width: 90%;
    height: 100%;
  }
  .num-txt {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .project-name {
    font-size: 1.4rem;
  }
  .project-describe {
    font-size: 12px;
    text-align: justify;
  }
  .live-btn {
    justify-self: start;
    width: auto;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    display: inline-flex;
    align-items: center;
    column-gap: 3px;
    font-size: 10px;
  }
  .live-img {
    width: 10px;
  }
  .view-more-btn {
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-wrap: nowrap;
  }
}

/* Mobile- Small */
@media (max-width: 320px) {
  .projects-div {
    padding: 10px 15px;
    margin-top: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .project-card-div {
    column-gap: 10px;
    height: 60vh;
    grid-template-columns: auto;
    row-gap: 10px;
    margin-bottom: 40px;
  }
  .project-card-div .project-img-div {
    order: 2;
  }
  .project-card-div .project-card-content {
    order: 1;
  }
  .projects-content {
    margin-top: 10px;
    padding: 0px 20px;
  }
  /* Reverse the order using grid-item positions */
  .project-card-div.reverse .project-img-div {
    justify-items: center;
  }
  .project-card-div.reverse {
    display: flex;
    flex-direction: column;
  }
  .project-card-content {
    row-gap: 5px;
  }
  .project-img {
    width: 90%;
    height: 100%;
  }
  .num-txt {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
  .project-name {
    font-size: 1.2rem;
  }
  .project-describe {
    font-size: 10px;
    text-align: justify;
  }
  .live-btn {
    justify-self: start;
    width: auto;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    display: inline-flex;
    align-items: center;
    column-gap: 3px;
    font-size: 9px;
  }
  .live-img {
    width: 9px;
  }
  .view-more-btn {
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 7px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-wrap: nowrap;
  }
}
