.scroll-top-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  width: 25px;
  cursor: pointer;
  display: none;
  z-index: 999;
  transition: opacity 0.3s ease;
}

@media (max-width: 425px) {
  .scroll-top-btn.show {
    display: block;
  }
}

/* Mobile- Medium */
@media (max-width: 375px) {
  .scroll-top-btn.show {
    bottom: 15px;
  }
}
