.scroll-top-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  background-color: transparent;
  color: #7a001c;
  font-size: 12px;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 999;
  box-shadow: 0 0 6px #63010150;
  transition: opacity 0.3s ease;
}

@media (max-width: 425px) {
  .scroll-top-btn.show {
    display: block;
  }
}

/* Mobile- Medium */
@media (max-width: 375px) {
  .scroll-top-btn.show {
    padding: 3px 8px;
    bottom: 15px;
  }
}
