.about-div {
  display: grid;
  grid-template-rows: 110px auto auto;
  row-gap: 20px;
}

.about-me-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.about-me-cards,
.art-card {
  padding: 0px 100px 0px 110px;
}
.left-card {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;
}
.myself-card,
.goal-card,
.right-card,
.art-card {
  display: grid;
  grid-template-rows: 40px auto;
  row-gap: 10px;
  padding: 50px;
  border: 2px solid #7a001d;
  box-shadow: 0px 0px 8px #e58cae;
  border-radius: 50px;
}
.art-card {
  padding: 30px 50px;
}
.hi-img,
.goal-img {
  transition: animation 0.25s;
}
.myself-card:hover .hi-img {
  animation: waveHand 1.5s infinite ease-in-out;
  transform-origin: bottom center;
}
@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  45% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.goal-card:hover .goal-img {
  animation: fullRotate 1.9s infinite linear;
  transform-origin: center;
}
@keyframes fullRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.light-off-img {
  width: 38px;
  height: 38px;
  background-image: url("/public/images/light-off\ icon.svg");
  transition: background-image 0.15s;
}
.right-card:hover .light-off-img {
  background-image: url("/public/images/light-on\ icon.svg");
}
.skill-name {
  display: grid;
  grid-template-rows: 70px auto;
  justify-content: center;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  font-size: 10px;
}
.skill-name p {
  margin-top: 3px;
}
.skills-icon {
  display: grid;
  grid-template-columns: repeat(7, 70px);
  row-gap: 40px;
  column-gap: 5px;
  margin-top: 20px;
}
.skill-icon-img {
  width: 50px;
  height: 50px;
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-head-txt {
  font-family: "Julius Sans One", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #d10033;
}
.card-content {
  font-size: 18px;
  font-family: "Ancizar Sans", sans-serif;
  text-align: justify;
}
.art-card {
  margin-left: 110px;
  margin-right: 100px;
}

/* Tablet */
@media (max-width: 768px) {
  .about-div {
    grid-template-rows: auto auto auto;
    row-gap: 30px;
    padding: 0% 15%;
  }

  .about-me-cards {
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 30px;
    padding: 0px;
  }
  .left-card {
    row-gap: 30px;
  }

  .myself-card,
  .goal-card,
  .right-card,
  .art-card {
    grid-template-rows: auto auto;
    row-gap: 7px;
    padding: 20px;
    border: 1px solid #7a001d;
    box-shadow: 0px 0px 4px #e58cae;
    border-radius: 30px;
  }

  .art-card {
    padding: 20px;
  }

  .skills-icon {
    grid-template-columns: repeat(5, auto);
    row-gap: 20px;
    column-gap: 5px;
    margin-top: 6px;
  }
  .skill-icon-img {
    width: 35px;
    height: 35px;
  }
  .skill-name {
    grid-template-rows: auto auto;
    row-gap: 3px;
    font-size: 11px;
    justify-items: center;
  }
  .card-head-txt {
    font-size: 19px;
  }
  .card-content {
    font-size: 17px;
  }
  .art-card {
    margin-left: 0px;
    margin-right: 0px;
  }
  .hi-img,
  .goal-img {
    width: 28px;
  }
  .light-off-img {
    height: 28px;
    background-image: none;
  }
  .right-card:hover .light-off-img {
    background-image: none;
  }
}

/* Mobile Large */
@media (max-width: 425px) {
  .about-div {
    grid-template-rows: auto auto auto;
    row-gap: 20px;
    padding: 0% 10%;
  }

  .about-me-cards {
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 20px;
    padding: 0px;
  }
  .left-card {
    row-gap: 20px;
  }

  .myself-card,
  .goal-card,
  .right-card,
  .art-card {
    grid-template-rows: auto auto;
    row-gap: 5px;
    padding: 17px;
    border: 1px solid #7a001d;
    box-shadow: 0px 0px 4px #e58cae;
    border-radius: 20px;
  }

  .art-card {
    padding: 14px;
  }

  .skills-icon {
    grid-template-columns: repeat(5, auto);
    row-gap: 20px;
    column-gap: 5px;
    margin-top: 6px;
  }
  .skill-icon-img {
    width: 30px;
    height: 30px;
  }
  .skill-name {
    grid-template-rows: auto auto;
    font-size: 9px;
    justify-items: center;
  }
  .card-head-txt {
    font-size: 16px;
  }
  .card-content {
    font-size: 14px;
  }
  .art-card {
    margin-left: 0px;
    margin-right: 0px;
  }
  .hi-img,
  .goal-img {
    width: 23px;
  }
  .light-off-img {
    height: 23px;
    background-image: none;
  }
  .right-card:hover .light-off-img {
    background-image: none;
  }
}
/* Mobile- Medium */
@media (max-width: 375px) {
  .about-div {
    grid-template-rows: auto auto auto;
    row-gap: 20px;
    padding: 0% 9%;
    height: 100vh;
  }

  .about-me-cards {
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 20px;
    padding: 0px;
  }
  .left-card {
    row-gap: 20px;
  }
  .myself-card,
  .goal-card,
  .right-card,
  .art-card {
    grid-template-rows: auto auto;
    row-gap: 5px;
    padding: 15px;
    border: 1px solid #7a001d;
    box-shadow: 0px 0px 4px #e58cae;
    border-radius: 20px;
  }

  .art-card {
    padding: 10px;
  }

  .skills-icon {
    grid-template-columns: repeat(5, auto);
    row-gap: 30px;
    column-gap: 5px;
    margin-top: 5px;
  }
  .skill-icon-img {
    width: 28px;
    height: 28px;
  }
  .skill-name {
    grid-template-rows: auto auto;
    font-size: 8px;
    justify-items: center;
  }
  .card-head-txt {
    font-size: 14px;
  }
  .card-content {
    font-size: 12px;
  }
  .art-card {
    margin-left: 0px;
    margin-right: 0px;
  }
  .hi-img,
  .goal-img {
    width: 20px;
  }
  .light-off-img {
    height: 20px;
    background-image: none;
  }
  .right-card:hover .light-off-img {
    background-image: none;
  }
}
/* Mobile- Small */
@media (max-width: 320px) {
  .about-div {
    grid-template-rows: auto auto auto;
    row-gap: 22px;
    padding: 0% 7%;
    height: 100vh;
  }

  .about-me-cards {
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 22px;
    padding: 0px;
  }
  .left-card {
    row-gap: 22px;
  }
  .myself-card,
  .goal-card,
  .right-card,
  .art-card {
    grid-template-rows: auto auto;
    row-gap: 5px;
    padding: 15px;
    border: 1px solid #7a001d;
    box-shadow: 0px 0px 4px #e58cae;
    border-radius: 20px;
  }

  .art-card {
    padding: 15px;
  }

  .skills-icon {
    grid-template-columns: repeat(5, auto);
    row-gap: 30px;
    column-gap: 5px;
    margin-top: 5px;
  }
  .skill-icon-img {
    width: 25px;
    height: 25px;
  }
  .skill-name {
    grid-template-rows: auto auto;
    font-size: 8px;
    justify-items: center;
  }
  .card-head-txt {
    font-size: 12px;
  }
  .card-content {
    font-size: 10px;
  }
  .art-card {
    margin-left: 0px;
    margin-right: 0px;
  }
  .art-card-head {
    margin-bottom: 3px;
  }
  .hi-img,
  .goal-img {
    width: 18px;
  }
  .light-off-img {
    height: 18px;
    background-image: none;
  }
  .right-card:hover .light-off-img {
    background-image: none;
  }
}
