.copyright-div {
  display: flex;
  column-gap: 5px;
  align-self: center;
  justify-self: center;
  color: #6b001b4c;
  font-family: "Ancizar Sans", sans-serif;
}
.cpr-img {
  width: 17px;
}

/* Mobile- Large */
@media (max-width: 425px) {
  .copyright-div {
    column-gap: 3px;
  }
  .copyright-div P {
    font-size: 10px;
  }
  .cpr-img {
    width: 10px;
  }
}

/* Mobile- Small-320px and medium-375px */
@media (max-width: 320px) {
  .copyright-div {
    column-gap: 2px;
  }
  .copyright-div P {
    font-size: 8px;
  }
  .cpr-img {
    width: 8px;
  }
}
