/* Footer */
footer {
  height: 60vh;
  display: grid;
  grid-template-rows: auto auto;
  padding-top: 70px;
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
}

.getintouch-txt-div,
.contact-head {
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  color: #7a001d;
  font-size: 50px;
}
.contact-div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.contact-head {
  font-size: 20px;
}
.contact-list-div div {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Ancizar Sans", sans-serif;
  font-weight: thin;
  color: #d10033;
}
.contact-icon {
  width: 25px;
}
.social-media-icon-div {
  padding-top: 10px;
}
.social-media-icon-div img {
  width: 35px;
}
.social-media-icon-div a {
  position: relative;
}
.social-media-icon-div .tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s ease;
  position: absolute;
  text-wrap: nowrap;
  bottom: -50px;
  left: -30px;
  font-size: 12px;
  padding: 5px;
  border: 2px solid #da144661;
  border-radius: 5px;
  color: #da1446d3;
  font-family: "Ancizar Sans", sans-serif;
  z-index: 1;
  pointer-events: none;
}
.social-media-icon-div a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.download-icon,
.art-icon {
  width: 25px;
}
.resume-div a {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 20px;
  border: 2px solid #7a001c67;
  background-color: white;
  color: #d10033;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 10px;
  /* min-width: 120px; */
  transition: border 0.15s, box-shadow 0.15s opacity 0.15s;
}
.resume-div a:hover {
  border: 2px solid #7a001d;
  box-shadow: 0px 0px 8px #e58cae;
}
.resume-div a:active {
  opacity: 0.6;
}

/* Laptop */
@media (max-width: 1024px) {
  footer {
    height: 50vh;
    padding-top: 60px;
  }

  .getintouch-txt-div {
    font-size: 2.8rem;
  }
  .contact-div {
    row-gap: 15px;
  }
  .contact-head {
    font-size: 1.4rem;
  }
  .contact-list-div div {
    column-gap: 7px;
    margin-bottom: 12px;
    font-size: 14px;
  }
  .contact-icon {
    width: 15px;
  }
  .social-media-icon-div {
    padding-top: 8px;
  }
  .social-media-icon-div img {
    width: 35px;
  }
  .social-media-icon-div .tooltip {
    bottom: -28px;
    left: 0px;
    font-size: 10px;
    padding: 2px 3px;
    border: 1px solid #da144661;
    border-radius: 4px;
  }
  .download-icon,
  .art-icon {
    width: 20px;
  }
  .resume-div a {
    column-gap: 7px;
    margin-bottom: 18px;
    border: 2px solid #7a001c67;
    font-size: 13px;
    padding: 7px;
    border-radius: 8px;
  }
  .resume-div a:hover {
    border: 2px solid #7a001ca0;
    box-shadow: 0px 0px 3px #e58cae;
  }
}

/* Tablet */
@media (max-width: 768px) {
  footer {
    height: 50vh;
    padding-top: 50px;
  }

  .getintouch-txt-div {
    font-size: 2.5rem;
  }
  .contact-div {
    row-gap: 15px;
  }
  .contact-head {
    font-size: 1.2rem;
  }
  .contact-list-div div {
    column-gap: 7px;
    margin-bottom: 12px;
    font-size: 14px;
  }
  .contact-icon {
    width: 15px;
  }
  .social-media-icon-div {
    padding-top: 8px;
  }
  .social-media-icon-div img {
    width: 32px;
  }
  .social-media-icon-div .tooltip {
    bottom: -28px;
    left: 0px;
    font-size: 10px;
    padding: 2px 3px;
    border: 1px solid #da144661;
    border-radius: 4px;
  }
  .download-icon,
  .art-icon {
    width: 20px;
  }
  .resume-div a {
    column-gap: 7px;
    margin-bottom: 18px;
    border: 2px solid #7a001c67;
    font-size: 12px;
    padding: 7px;
    border-radius: 8px;
  }
  .resume-div a:hover {
    border: 2px solid #7a001ca0;
    box-shadow: 0px 0px 3px #e58cae;
  }
}

/* Mobile- Large */
@media (max-width: 425px) {
  footer {
    height: 38vh;
    padding-top: 45px;
  }

  .getintouch-txt-div {
    font-size: 1.8rem;
  }
  .contact-div {
    row-gap: 12px;
  }
  .contact-head {
    font-size: 0.9rem;
  }
  .contact-list-div div {
    column-gap: 5px;
    margin-bottom: 10px;
    font-size: 11px;
  }
  .contact-icon {
    width: 11px;
  }
  .social-media-icon-div {
    padding-top: 5px;
  }
  .social-media-icon-div img {
    width: 22px;
  }
  .social-media-icon-div .tooltip {
    bottom: -26px;
    left: -2px;
    font-size: 10px;
    padding: 1px;
    border: 1px solid #da144661;
    border-radius: 2px;
  }
  .download-icon,
  .art-icon {
    width: 15px;
  }
  .resume-div a {
    column-gap: 7px;
    margin-bottom: 14px;
    border: 1px solid #7a001c67;
    font-size: 12px;
    padding: 6px;
    border-radius: 6px;
  }
  .resume-div a:hover {
    border: 1px solid #7a001ca0;
    box-shadow: 0px 0px 3px #e58cae;
  }
}

/* Mobile- Small- 320px and Medium- 375px*/
@media (max-width: 375px) {
  footer {
    height: 30vh;
    padding-top: 40px;
  }

  .getintouch-txt-div {
    font-size: 1.5rem;
  }
  .contact-div {
    row-gap: 10px;
  }
  .contact-head {
    font-size: 0.7rem;
  }
  .contact-list-div div {
    column-gap: 5px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  .contact-icon {
    width: 10px;
  }
  .social-media-icon-div {
    padding-top: 5px;
  }
  .social-media-icon-div img {
    width: 18px;
  }
  .social-media-icon-div .tooltip {
    bottom: -20px;
    left: -2px;
    font-size: 5px;
    padding: 1px;
    border: 1px solid #da144661;
    border-radius: 2px;
  }
  .download-icon,
  .art-icon {
    width: 11px;
  }
  .resume-div a {
    column-gap: 5px;
    margin-bottom: 10px;
    border: 1px solid #7a001c67;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  .resume-div a:hover {
    border: 1px solid #7a001ca0;
    box-shadow: 0px 0px 3px #e58cae;
  }
}
