body {
  margin: 0;
  overflow-x: hidden;
}
p {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #fff;
}
* {
  box-sizing: border-box;
}
.about-head-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-head p {
  margin-top: 50px;
  text-align: center;
}
.about-head-div p,
.projects-head p {
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  color: #7a001d;
  font-size: 50px;
}

/* Laptop */
@media (max-width: 1024px) {
  .about-head-div p,
  .projects-head p {
    font-size: 2.8rem;
  }
  .projects-head p {
    margin-top: 25px;
    text-align: center;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .about-head-div p,
  .projects-head p {
    font-size: 2.5rem;
  }
  .projects-head p {
    margin-top: 25px;
    text-align: center;
  }
}

/* Mobile- Large */
@media (max-width: 425px) {
  .about-head-div p,
  .projects-head p {
    font-size: 2rem;
  }
  .projects-head p {
    margin-top: 20px;
    text-align: center;
  }
}

/* Mobile- Medium */
@media (max-width: 375px) {
  .about-head-div p,
  .projects-head p {
    font-size: 2rem;
  }
  .projects-head p {
    margin-top: 17px;
    text-align: center;
  }
}

/* Mobile- Small */
@media (max-width: 320px) {
  .about-head-div p,
  .projects-head p {
    font-size: 1.8rem;
  }
  .projects-head p {
    margin-top: 20px;
    text-align: center;
  }
}
