.main-content {
  background: linear-gradient(to bottom, #6b001a, #d10033);
  color: white;
  min-height: 100vh;
  padding: 20px 60px 10px 60px;
  display: grid;
  grid-template-rows: auto auto auto;
}
.content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  border: 2px solid #d94d6f;
  border-radius: 60px;
  box-shadow: 0px 0px 4px rgba(227, 133, 155, 0.9);
}
.portfolio-div p {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 500;
  font-size: 130px;
  margin-left: 80px;
}
.img-name-div {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;
  justify-content: center;
}
.circle-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #fff;
}
.name p {
  font-family: "Ancizar Sans", sans-serif;
  text-align: center;
}
.name .jothi-name {
  font-family: "Julius Sans One", sans-serif;
  font-size: 50px;
  text-shadow: 0px 0px 6px rgba(227, 133, 155, 0.9),
    0px 0px 6px rgba(227, 133, 155, 0.9);
  margin-bottom: 10px;
}
.name .des-txt {
  font-size: 18px;
  margin-bottom: 5px;
}
.name .quote-txt {
  font-size: 14px;
}

.scroll-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-top: 10px;
}
.scroll-d-txt {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 14px;
}
.move-arrow {
  display: inline-block;
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2.5px);
  }
}

/* Mobile- Small */
@media (max-width: 320px) {
  .main-content {
    max-width: 100vw;
    width: 100%;
    padding: 10px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    overflow-x: hidden;
  }

  .content {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 25px;
    justify-content: center;
    align-content: center;
    border-radius: 60px;
    padding: 10px 0px;
  }
  .portfolio-div p {
    font-size: 3rem;
    margin-left: 0;
    text-align: center;
  }
  .circle-img {
    width: 50vw;
    height: 50vw;
    /* background-image: url(""); */
  }
  .name .jothi-name {
    font-size: 150%;
    margin-bottom: 5px;
  }
  .name .des-txt {
    font-size: 70%;
    margin-bottom: 5px;
  }
  .name .quote-txt {
    font-size: 40%;
  }

  .img-name-div {
    justify-items: center;
  }
  .scroll-arrow {
    column-gap: 5px;
    margin-top: 5px;
  }
  .scroll-d-txt {
    font-size: 6px;
  }
  .down-a-img {
    width: 10px;
    height: 10px;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-1px);
    }
    50% {
      transform: translateY(1px);
    }
  }
}

/* Mobile- Medium-375px and large-425px */
@media (max-width: 425px) {
  .main-content {
    /* max-width: 100vw;
    width: 100%; */
    padding: 10px 20px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    overflow-x: hidden;
  }

  .content {
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 25px;
    justify-content: center;
    align-content: center;
    border-radius: 60px;
    padding: 10px 0px;
  }
  .portfolio-div p {
    font-size: 3.2rem;
    margin-left: 0;
    text-align: center;
  }
  .circle-img {
    width: 50vw;
    height: 50vw;
    /* background-image: url(""); */
  }
  .name .jothi-name {
    font-size: 155%;
    margin-bottom: 5px;
  }
  .name .des-txt {
    font-size: 75%;
    margin-bottom: 5px;
  }
  .name .quote-txt {
    font-size: 45%;
  }

  .img-name-div {
    justify-items: center;
  }
  .scroll-arrow {
    column-gap: 6px;
    margin-top: 6px;
  }
  .scroll-d-txt {
    font-size: 7px;
  }
  .down-a-img {
    width: 11px;
    height: 11px;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-1px);
    }
    50% {
      transform: translateY(1px);
    }
  }
}

/* Mobile- Large */
@media (max-width: 425px) {
  .main-content {
    padding: 12px 22px;
  }

  .content {
    row-gap: 28px;
    padding: 12px 0px;
  }
  .portfolio-div p {
    font-size: 3.5rem;
  }
  .circle-img {
    width: 45vw;
    height: 45vw;
  }
  .name .jothi-name {
    font-size: 160%;
  }
  .name .des-txt {
    font-size: 77%;
  }
  .name .quote-txt {
    font-size: 47%;
  }
}
/* Tablet */
@media (max-width: 768px) {
}
/* Laptop */
@media (max-width: 1024px) {
}
/* Laptop- Large */
@media (max-width: 1440px) {
}
/* 4K */
@media (max-width: 2560px) {
}
