.main-content {
  background: linear-gradient(to bottom, #6b001a, #d10033);
  color: white;
  min-height: 100vh;
  padding: 20px 60px 10px 60px;
  display: grid;
  grid-template-rows: auto auto auto;
}
.content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  border: 2px solid #d94d6f;
  border-radius: 60px;
  box-shadow: 0px 0px 4px rgba(227, 133, 155, 0.9);
}
.portfolio-div p {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 500;
  font-size: 130px;
  margin-left: 80px;
}
.img-name-div {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;
  justify-content: center;
}
.circle-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #fff;
}
.name p {
  font-family: "Ancizar Sans", sans-serif;
  text-align: center;
}
.name .jothi-name {
  font-family: "Julius Sans One", sans-serif;
  font-size: 50px;
  text-shadow: 0px 0px 6px rgba(227, 133, 155, 0.9),
    0px 0px 6px rgba(227, 133, 155, 0.9);
  margin-bottom: 10px;
}
.name .des-txt {
  font-size: 18px;
  margin-bottom: 5px;
}
.name .quote-txt {
  font-size: 14px;
}

.scroll-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-top: 10px;
}
.scroll-d-txt {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 14px;
}
.move-arrow {
  display: inline-block;
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2.5px);
  }
}

/* Tablet */
@media (max-width: 768px) {
}
/* Laptop */
@media (max-width: 1024px) {
}
/* Laptop- Large */
@media (max-width: 1440px) {
}
/* 4K */
@media (max-width: 2560px) {
}

/* Mobile- Large */
@media (max-width: 425px) {
  .main-content {
    padding: 0px 15px;
    height: 100vh;
    grid-template-rows: 60px auto auto;
  }

  .content {
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 0%;
    justify-content: center;
    align-content: space-around;
    border-radius: 60px;
    padding: 10px 0px;
  }
  .portfolio-div p {
    font-size: 3.8rem;
    margin-left: 0;
    font-weight: bold;
    text-align: center;
  }
  .circle-img {
    width: 60vw;
    height: 60vw;
    /* background-image: url(""); */
  }
  .name .jothi-name {
    font-size: 200%;
    margin-bottom: 7px;
  }
  .name .des-txt {
    font-size: 98%;
    margin-bottom: 5px;
  }
  .name .quote-txt {
    font-size: 65%;
  }

  .img-name-div {
    justify-items: center;
  }
  .scroll-arrow {
    column-gap: 4px;
    margin-top: 6px;
  }
  .scroll-d-txt {
    font-size: 11px;
  }
  .down-a-img {
    width: 14px;
    height: 14px;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-1px);
    }
    50% {
      transform: translateY(1px);
    }
  }
}

/* Mobile- Medium*/
@media (max-width: 375px) {
  .main-content {
    padding: 0px 15px;
    height: 100vh;
    grid-template-rows: 60px auto auto;
  }

  .content {
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 0%;
    justify-content: center;
    align-content: space-around;
    border-radius: 60px;
    padding: 10px 0px;
  }
  .portfolio-div p {
    font-size: 3.6rem;
    margin-left: 0;
    font-weight: bold;
    text-align: center;
  }
  .circle-img {
    width: 60vw;
    height: 60vw;
    /* background-image: url(""); */
  }
  .name .jothi-name {
    font-size: 195%;
    margin-bottom: 7px;
  }
  .name .des-txt {
    font-size: 93%;
    margin-bottom: 5px;
  }
  .name .quote-txt {
    font-size: 60%;
  }

  .img-name-div {
    justify-items: center;
  }
  .scroll-arrow {
    column-gap: 4px;
    margin-top: 6px;
  }
  .scroll-d-txt {
    font-size: 10px;
  }
  .down-a-img {
    width: 13px;
    height: 13px;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-1px);
    }
    50% {
      transform: translateY(1px);
    }
  }
}

/* Mobile- Small */
@media (max-width: 320px) {
  .main-content {
    padding: 0px 13px;
    height: 100vh;
    grid-template-rows: 60px auto auto;
  }

  .content {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 0%;
    justify-content: center;
    align-content: space-around;
    border-radius: 60px;
    padding: 0px;
  }
  .portfolio-div p {
    font-size: 3.2rem;
    font-weight: bold;
    margin-left: 0;
    text-align: center;
  }
  .circle-img {
    width: 60vw;
    height: 60vw;
    /* background-image: url(""); */
  }
  .name .jothi-name {
    font-size: 190%;
    text-shadow: 0px 0px 3px rgba(227, 133, 155, 0.9),
      0px 0px 3px rgba(227, 133, 155, 0.9);
    margin-bottom: 5px;
  }
  .name .des-txt {
    font-size: 90%;
    margin-bottom: 5px;
  }
  .name .quote-txt {
    font-size: 58%;
  }

  .img-name-div {
    justify-items: center;
  }
  .scroll-arrow {
    column-gap: 4px;
    margin-top: 10px;
  }
  .scroll-d-txt {
    font-size: 8px;
  }
  .down-a-img {
    width: 11px;
    height: 11px;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-1px);
    }
    50% {
      transform: translateY(1px);
    }
  }
}
